body{
    background-image:url("gj.jpg");
background-size:cover;
position:center;
font-family: 'DotGothic16', sans-serif;
}

h1{
    width: 100%;
    background-color:rgba(198, 201, 16, 0.774);
    margin:0;
    padding: 20px;
}

.note{
font-size: 20px;
}

#speeddiv{
    float:left;
    
}
.discimage{
    width: 250px;
    border-radius:50%;
}

#volumediv{
    float:right;
}

#button{
    font-size: 35px;
}